.container{
    display: grid;
    justify-content: center;
    align-items: center;
}
button{
    width: 400px;
}
form{
    display: grid;
    grid-template-rows: auto;
    width:400px;
}
.library{
    display:grid;
    justify-content: center;
    align-items: center;
}
.book{
    width:400px;
    margin-top: 20px;
    border: solid blue 1px;
    border-radius: 5px;
    background-color: blueviolet;
}
